/*
 * https://www.bootdey.com/snippets/view/Whatsapp-web-chat-template
 * claudinomoraes@yahoo.com.br
 * claudino1971
 */

/*#chatModal span {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*#chatModal .app {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    top: 19px;*/
/*    height: calc(100% - 38px);*/
/*    margin: auto;*/
/*    padding: 0;*/
/*    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);*/
/*}*/

#chatModal .app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

#chatModal .side {
    padding: 0;
    margin: 0;
    height: 100%;
}

#chatModal .side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

#chatModal .side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}


#chatModal .heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

#chatModal .heading-avatar {
    padding: 0;
    cursor: pointer;

}

#chatModal .heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#chatModal .heading-name {
    padding: 0 !important;
    cursor: pointer;
}

#chatModal .heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

#chatModal .heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}

#chatModal .heading-compose {
    padding: 0;
}

#chatModal .heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

#chatModal .heading-dot {
    padding: 0;
    margin-left: 10px;
}

#chatModal .heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

#chatModal .searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

#chatModal .searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

#chatModal .searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#chatModal .sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

#chatModal .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
}

#chatModal .sideBar-body:hover {
    background-color: #f2f2f2;
}

#chatModal .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

#chatModal .avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

#chatModal .sideBar-main {
    padding: 0 !important;
}

#chatModal .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

#chatModal .sideBar-name {
    padding: 10px !important;
}

#chatModal .name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

#chatModal .sideBar-time {
    padding: 10px !important;
}

#chatModal .time-meta {
    text-align: right;
    font-size: 10px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}

#chatModal .qtdmsg-meta {
    text-align: center;
    font-size: 10px;
    padding: 3px !important;
    background-color: #1c6ca1;
    color: #ffffff;
    vertical-align: baseline;
}

/*New Message*/

#chatModal .newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
}
#chatModal .newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}

#chatModal .newMessage-main {
    /*padding: 10px 16px 0 15px !important;*/
    /*margin: 0 !important;*/
    /*height: 60px;*/
    /*margin-top: 30px !important;*/
    width: 100%;
    z-index: 1001;
    color: #fff;
}

#chatModal .newMessage-title {
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*!*padding: 10px 5px !important;*!*/
    /*padding-top: 20px !important;*/
}

#chatModal .newMessage-back {
    /*text-align: center;*/
    /*vertical-align: baseline;*/
    /*!*padding: 12px 5px !important;*!*/
    /*padding-top: 20px !important;*/
    /*display: block;*/
    cursor: pointer;
    font-size: 22px;
}
#chatModal .newMessage-back i {
    /*margin: auto !important;*/
    /*font-size: 16px;*/
}

#chatModal .composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

#chatModal .composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

#chatModal .composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#chatModal .compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
}

/*Conversation*/

#chatModal .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
}

#chatModal #chatConversas {
    /*overflow-y: scroll !important;*/
}

#chatModal .message {
    padding: 0 !important;
    margin: 0 !important;

    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}
#chatModal .message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
}
#chatModal .previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
}

#chatModal .previous a {
    text-decoration: none;
    font-weight: 700;
}

#chatModal .message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: auto;
}

#chatModal .message-main-receiver {
    padding: 3px 20px !important;
    /*padding: 10px 20px;*/
    max-width: 60%;
}

#chatModal .message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
}

#chatModal .message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 0 !important;
}

#chatModal .message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;

}

#chatModal .receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
}

#chatModal .sender {
    float: right;
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
}


/*Reply*/

#chatModal .reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

#chatModal .reply-emojis {
    padding: 5px !important;
}

#chatModal .reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
}

#chatModal .reply-recording {
    padding: 5px !important;
}

#chatModal .reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

#chatModal .reply-send {
    padding: 5px !important;
}

#chatModal .reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

#chatModal .reply-main {
    padding: 2px 5px !important;
}

#chatModal .reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

#chatModal .reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    #chatModal .app {
        top: 0;
        height: 100%;
    }
    #chatModal .heading {
        height: 70px;
        background-color: #009688;
    }
    #chatModal .fa-2x {
        font-size: 2.3em !important;
    }
    #chatModal .heading-avatar {
        padding: 0 !important;
    }
    #chatModal .heading-avatar-icon img {
        height: 50px;
        width: 50px;
    }
    #chatModal .heading-compose {
        padding: 5px !important;
    }
    #chatModal .heading-compose i {
        color: #fff;
        cursor: pointer;
    }
    #chatModal .heading-dot {
        padding: 5px !important;
        margin-left: 10px !important;
    }
    #chatModal .heading-dot i {
        color: #fff;
        cursor: pointer;
    }
    #chatModal .sideBar {
        height: calc(100% - 130px);
    }
    #chatModal .sideBar-body {
        height: 80px;
    }
    #chatModal .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important;
    }
    #chatModal .avatar-icon img {
        height: 55px;
        width: 55px;
    }
    #chatModal .sideBar-main {
        padding: 0 !important;
    }
    #chatModal .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important;
    }
    #chatModal .sideBar-name {
        padding: 10px 5px !important;
    }
    #chatModal .name-meta {
        font-size: 16px;
        padding: 5% !important;
    }
    #chatModal .sideBar-time {
        padding: 10px !important;
    }
    #chatModal .time-meta {
        text-align: right;
        font-size: 10px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }

    #chatModal .qtdmsg-meta {
        text-align: right;
        font-size: 10px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }

    /*Conversation*/
    #chatModal .conversation {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        /*width: 100%;*/
        border-left: 1px solid rgba(0, 0, 0, .08);
        /*overflow-y: auto;*/
    }
    #chatModal .message {
        height: calc(100% - 140px);
    }
    #chatModal .reply {
        height: 70px;
    }
    #chatModal .reply-emojis {
        padding: 5px 0 !important;
    }
    #chatModal .reply-emojis i {
        padding: 5px 2px !important;
        font-size: 1.8em !important;
    }
    #chatModal .reply-main {
        padding: 2px 8px !important;
    }
    #chatModal .reply-main textarea {
        padding: 8px !important;
        font-size: 18px;
    }
    #chatModal .reply-recording {
        padding: 5px 0 !important;
    }
    #chatModal .reply-recording i {
        padding: 5px 0 !important;
        font-size: 1.8em !important;
    }
    #chatModal .reply-send {
        padding: 5px 0 !important;
    }
    #chatModal .reply-send i {
        padding: 5px 2px 5px 0 !important;
        font-size: 1.8em !important;
    }
}

/*Utility classes*/
/*Floats*/
#chatModal .clearfix {
    .clearfix();
}

#chatModal .center-block {
    .center-block();
}

#chatModal .pull-right {
    float: right !important;
}

#chatModal .pull-left {
    float: left !important;
}

/*Toggling content*/
/*Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1*/
#chatModal .hide {
    display: none !important;
}

#chatModal .show {
    display: block !important;
}

#chatModal .invisible {
    visibility: hidden;
}

#chatModal .text-hide {
    .text-hide();
}

/*Hide from screenreaders and browsers*/
/*Credit: HTML5 Boilerplate*/
#chatModal .hidden {
    display: none !important;
}

/*For Affix plugin*/
#chatModal .affix {
    position: fixed;
}
